
.paddingIconLeft {
    padding-left: 0.5rem;
}

.paddingIconRight {
    padding-right: 0.5rem;
}

.paddingIcon {
    padding: 0.5rem 0.5rem;
}

.DropDown {
    overflow-y: auto;
    max-height: 15rem;
    border: 1px solid silver;
    padding-top: 1rem
}