@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent Inventories="ListInventories"></InventoryListItemComponent>
    </tbody>
</table>


@code {

    [Parameter]
    public List<Inventory> ListInventories { get; set; } = new List<Inventory>();
    
}
