@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent Inventories="ListInventories"></InventoryListItemComponent>
    </tbody>
</table>


@code {

    [Parameter]

    public List<InventoryItem> ListInventories { get; set; } = new List<InventoryItem>();

    protected override async Task OnParametersSetAsync()
    {
        await InvokeAsync(StateHasChanged);
    }
}
