@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent Inventories="ListInventories"></InventoryListItemComponent>
    </tbody>
</table>


@code {
    // [Parameter]
    // public string SearchTerm { get; set; } = string.Empty;

    [Parameter]
    public List<Inventory> ListInventories { get; set; } = new List<Inventory>();

    protected override async Task OnParametersSetAsync()
    {
        // await InvokeAsync(StateHasChanged);
        
        // if (!string.IsNullOrEmpty(SearchTerm))
        // {
        //     ListInventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();
        // }
    }
}
