
@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject IEditInventoryUseCase EditInventoryUseCase

<h1>TesT PagE</h1>

<PageTitle>Test Page</PageTitle>

<br/>
<ul>
    @foreach(var inv in _inventories)
    {
    <li>
        @inv.Name
    </li>
    }
</ul>

@code {
    private List<InventoryItem> _inventories = new List<InventoryItem>();

    protected override async Task OnInitializedAsync()
    {
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();

        //var inventory = new Inventory { InventoryId = 1, InventoryName = "Laptop X-2343", Quantity = 120, Price = 999.99 };

        //await EditInventoryUseCase.ExecuteAsync(inventory);

       _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}