@inject NavigationManager NavigationManager

@foreach(var prod in Products)
{
    <tr>
        <td>@prod.ProductId</td>
        <td>@prod.ProductName</td>
        <td>@prod.Quantity</td>
        <td>@prod.Price.ToString("c")</td>
        <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <button type="button" class="btn btn-sm btn-outline-primary" ><i class="bi bi-pencil-square">Edit</i></button>
                <button type="button" class="btn btn-sm btn-danger" ><i class="bi bi-trash"></i>Delete</button>
            </div>
        </td>
    </tr>
}

@code {
    [Parameter]
    public List<Product> Products { get; set; } = new List<Product>();

    private void EditInventory(int inventoryId)
    {
        NavigationManager.NavigateTo($"/editInventory/{inventoryId}");
    }

    
}